{% extends "layout.twig" %}
{% block content %}

        {% for generals in data %}
            <div class="text">
                <img src="/app/views/photos/{{ generals.photos }}" alt="{{ generals.photos }}" class="img-rounded">
                {{ generals.bibliographic }}
            </div>
        {% endfor %}
    <a href="/">Головна сторінка</a>
    {% for generals in data %}
           <a href="/about/prev/?id={{ generals.id_generals }}">Попередня сторінка</a>
           <a href="/about/index/?id={{ generals.id_generals }}">Наступна сторінка</a>

    {% endfor %}
{% endblock %}