{% extends "layout.twig" %}
{% block content %}

    <table class="table table-hover">
        <caption><b>Генерали армії УНР</b></caption>
        <thead>
        <tr>
            <th class="col-md-1">№</th>
            <th class="col-md-2"><a href="/main/index?filter=name" class="active">Ім'я</a></th>
            <th class="col-md-3"><a href="/main/index?filter=surname" class="active">Прізвище</a></th>
            <th class="col-md-2"><a href="/main/index?filter=year" class="active">Рік народження</a></th>
        </tr>
        </thead>
        {% for generals in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ generals.name }}</td>
            <td><a href="/about/index?id={{ generals.id_generals }}" class="active">{{ generals.surname }}</a></td>
            <td>{{ generals.year }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}