{% extends "layout.twig" %}
{% block content %}
    <table class="table table-hover" id="table-wrapper">
        <caption><b>Генерали армії УНР</b></caption>
        <thead>
        <tr>
            <th class="col-md-1">№</th>
            <th class="col-md-2" data-value="name">Ім'я</th>
            <th class="col-md-3" data-value="surname">Прізвище</th>
            <th class="col-md-2" data-value="year">Рік народження</th>
        </tr>
        </thead>
        <tbody>
        {% for generals in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ generals.name }}</td>
            <td><a href="/about/index?id={{ generals.id_generals }}" class="active">{{ generals.surname }}</a></td>
            <td>{{ generals.year }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $('document').ready(function()
        {
            $('#table-wrapper').on("click", "th", function()
            {
                value = $(this).attr('data-value');
                table = $(this).parent().parent().parent().children('tbody');
                query = "filter=" + value;
                tr =  table.children('tr');
                $.ajax({
                    url: '/users/get',
                    method: 'POST',
                    data: query,
                    success: function(general)
                    {
                        for (i=0; i < general.length; i++) {
                            $(tr[i]).replaceWith('<tr>' +
                                    '<td>' + (i+1) + '</td>' +
                                    '<td>' + general[i]['name'] + '</td>' +
                                    '<td><a href="/about/index?id=' + general[i]['id_generals'] + '">' + general[i]['surname'] + '</td>' +
                                    '<td>' + general[i]['year'] + '</td>' +
                                    '</tr>');
                        }
                    },
                    dataType: "json"
                });
            });
        });
    </script>
{% endblock %}